form {
    border: 1px solid #4a4a4a;
    padding-top: 15px;
    border-radius: 5px;
    background-color: honeydew;
}

.button-container {
    display: flex;
    justify-content: center;
}

.input-container {
    margin-bottom: 35px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: green;
}

.input {
    margin-left: 10px;
    padding: 10px 10px;
    border-radius: 5px;
}

.area-50{
    padding: 15px;
    float: left;
    width: 45%;
    height: 80%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}

.clearfix {
    content: "";
    clear: both;
    display: table;

}

label {
    display: inline-block;
    text-align: right;
    width: 40%;
}

#err-login-fn,
#err-pass-fn {
    color: white;
    margin: -20px 0 10px 0;
}