<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<p>This will be the main page</p>

<div class="button-container">
    <button type="button" class="button">Show all expenses</button>
</div>

<form action="#" method="POST">
    <div class="input">
        <label for="expense-category">Category*</label>
        <select name="expense-category" id="expense-category" required>
            <option value="rent">Rent</option>
            <option value="food">Food</option>
            <option value="clothes">Clothes</option>
            <option value="medicine">Medicine</option>
            <option value="dog">Dog</option>
            <option value="other">Other</option>
        </select>
    </div>
    <div class="input">
        <label for="amount">Amount*</label>
        <input type="number" name="amount" id="amount" class="input" placeholder="How much money you spent" required>
    </div>
    <div class="input">
        <label for="purchase-date">Date*</label>
        <input type="date" name="purchase-date" id="purchase-date" class="input" required>
    </div>
    <div class="input">
        <label for="textarea">Choose category of expense*</label>
        <textarea id="textarea" name="comment" placeholder="Comments"></textarea>
    </div>
    <input type="submit" class="submit-button" id="submit-button" name="submit" value="Add expense" >
</form>

</body>
</html>